.contact-details {
  list-style-type: none;
}

.contact-details__item {
  font-family: $crimsonText;
  @include responsive-font(16, 20);
}

.contact-details__link {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}