.content {
}

.content__title {
  float: left;
  width: 20%;

  font-style: italic;
  @include responsive-font(20, 26);
  line-height: 1.2;
  color: darkred;

  @media ($mobile) {
    float: none;
    width: inherit;
  }
}

.content__details {
  float: right;
  width: 75%;

  font-family: $crimsonText;
  @include responsive-font(16, 24);
  line-height: 1.2;

  color: #444;

  border-left: 1px solid darkred;
  padding-left: 10px;

  @media ($mobile) {
    float: none;
    width: inherit;
    border-left: none;
    padding-left: 0;
  }
}