.emplyoment__company {
  display: inline-block;
  margin: 20px 10px 5px 0;
}

.emplyoment__projects {
  margin: 10px;
}

.emplyoment__period {
  display: inline-block;
  font-style: italic;
  color: #666;
  font-size: 0.9em;
}