.header {
  border-bottom: 2px solid darkred;

  @media ($mobile) {
    text-align: center;
  }
}

.header__left-col {
  float: left;
  width: 70%;

  @media ($mobile) {
    float: none;
    width: inherit;
  }
}

.header__right-col {
  float: right;
  width: 30%;

  @media ($mobile) {
    float: none;
    width: inherit;
  }
}