.institution__major {
  float: left;
  width: 60%;

  @media ($mobile) {
    float: none;
    width: inherit;
  }
}

.institution__details {
  float: right;
  width: 40%;

  font-style: italic;
  color: #999;
  font-weight: normal;

  @media ($mobile) {
    float: none;
    width: inherit;
    color: #000;
  }
}