.language {
  font-family: $crimsonText;
  @include responsive-font(16, 26);
  line-height: 1.2;
  width: 100%;
}

.language__name {
  font-weight: 700;
}

.language__proficiency {
  display: inline-block;
}