.main-info__name {
  font-family: $lobster;
  @include responsive-font(24, 56, $mobile-screen-min-num, $tablet-screen-num);
}

.main-info__objective {
  font-family: $crimsonText;
  @include responsive-font(20, 44);
}