.page {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;

  @media ($mobile) {
    width: 100%;
  }
}

.page__header-line {
  @extend %clearfix;
  padding: 20px 25px;

  @media ($mobile) {
    padding: 0 10px;
  }
}

.page__line {
  @extend %clearfix;
  padding: 20px 25px;

  @media ($mobile) {
    padding: 0 10px;
  }
}