.project__title {
  line-height: 1.5;
  font-size: 1em;
}

.project__details {
  margin: 0 10px;
}

.project-detail {
  @include responsive-font(16, 22);
}

.project-detail__title {
  font-weight: bold;
}