.skills-list {
  list-style-type: none;
}

.skills-list__item {
  display: inline-block;
  padding: 5px 10px;
  background-color: #3da4ff;
  color: #FFF;
  margin: 5px;
  border-radius: 10px;
  font-size: 1em;
}

.skills-list_size_s {
  .skills-list__item {
    font-size: 0.8em;
  }
}