$mobile-screen-min-num: 320;
$mobile-screen-num: 768;
$tablet-screen-num: 995;
$desktop-screen-num: 1440;

$mobile-screen-min: #{$mobile-screen-min-num}px;
$mobile-screen: #{$mobile-screen-num}px;
$tablet-screen: #{$tablet-screen-num}px;
$desktop-screen: #{$desktop-screen-num}px;

$mobile: "max-width: #{$mobile-screen}";
$tablet: "min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen}";
$desktop: "min-width:#{$tablet-screen}";

/**
  * Responsive fonts from min-font to max-font between specified breakpoints (between 768px up to 1440px by default)
 */
@mixin responsive-font($min_font, $max_font, $min_width-num: $mobile-screen-num, $max_width-num: $desktop-screen-num) {
  font-size: #{$min_font}px;

  @media (min-width: #{$min_width-num}px) and (max-width: #{$max_width-num}px) {
    font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_width-num}px) / (#{$max_width-num} - #{$min_width-num})));
  }

  @media (min-width: #{$max_width-num}px) {
    font-size: #{$max_font}px;
  }
}