doctype html
html(lang="en")
    head
        title=title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='CV of ' + name)
        meta(charset='UTF-8')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Lobster")
        link(rel='stylesheet', href='main.css')
    body.page
        header.page__header-line.header
            div.header__left-col.main-info
                h1.main-info__name #{name}
                h2.main-info__objective #{objective}
            ul.header__right-col.contact-details
                li.contact-details__item telephone:
                    a.contact-details__link(href='tel:' + phone) #{phone}
                li.contact-details__item email:
                    a.contact-details__link(href='mailto:' + email, target='_blank') #{email}
        div.page__line
            section.content
                h3.content__title Languages
                div.content__details
                    div.languages
                        each language in languages
                            p.language
                                span.language__name= language.name + ": "
                                span.language__proficiency= language.proficiency

        div.page__line
            section.content
                h3.content__title Education
                div.content__details
                    each education in educations
                        div.institution
                            h3.institution__name= education.institutionName
                            p.institution__major= education.major
                            span.institution__details= education.degree + ', ' + education.period

        div.page__line
            section.content
                h3.content__title Skills
                div.content__details
                    div.skill-categories
                        each skillCategory in skillCategories
                            h3.skill-categories__name= skillCategory.category
                            ul.skill-categories__content.skills-list
                                each skill in skillCategory.skills
                                    li.skills-list__item= skill

        div.page__line
            section.content
                h3.content__title Work Experience
                div.content__details
                    each employment in employments
                        div.emplyoment
                            h3.emplyoment__company= employment.position + ' At ' + employment.company
                            p.emplyoment__period= employment.period
                            div.emplyoment__projects
                                each project,index in employment.projects
                                    div.project
                                        h4.project__title Project #{index + 1}
                                        div.project__details
                                            p.project-detail
                                                span.project-detail__title Project description:
                                                span.project-detail__content= ' ' + project.description
                                            p.project-detail
                                                span.project-detail__title Responsibilities:
                                                span.project-detail__content= ' ' + project.responsibilities
                                            p.project-detail
                                                span.project-detail__title Technologies:
                                                ul.project-detail__content.skills-list.skills-list_size_s
                                                    each technology in project.technologies
                                                        li.skills-list__item= technology
